<!DOCTYPE html>
<html>
  <head>
    <title>המעבדה לאלגוריתמים כלכליים - בית-הספר למדעי המחשב - אוניברסיטת אריאל</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%- content %>
    </div>
  </body>
  <div>
    <hr/>
    &copy; 2023 
[אוניברסיטת אריאל](https://ariel.ac.il)
-
[בית הספר למדעי המחשב](https://www.ariel.ac.il/wp/school-of-computer-science/)
- 
[המעבדה לאלגוריתמים כלכליים](http://csariel.xyz)
. כל הזכויות שמורות
.
  </div>
</html>
